/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.canvas-wrapper{
  position: relative;
  width: 200px;
}

canvas {
  width: 100%;
}

.image-wrapper > img{ 
  border: 1px solid red;
}